/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');*/

:root{
    --primary-color: #007af3;

}
body{
    background: #f2f2f2;
    margin: 0;
    font-family: 'poppins';
}

.navbar {
    background: #fff;
    padding: 1em;

    .logo{
        text-decoration: none;
        font-weight: bolder;
        color: #000;
        font-size: 1.2em;

    }
    span{
        color: var(--primary-color);

    }
   
    nav{
        display: none;
    }
    
    .container{
        display: flex;
        place-content: space-between;
        cursor: pointer;
    }
    
    .mobile-menu{
        cursor: pointer;
    }

}

a{
    color: #444444;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
section{
    padding: 5em 2em;
}

.hero{
    text-align: center;
}

.left-col{

    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: grey;
        letter-spacing:  .3em;
    }
    h1{
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;

    }

    .primary-cta{
        background: var(--primary-color);
        color: #fff;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }

    .watch-video-cta{
        display: block;
        margin-top: 3em;

        img{
            margin-right: .5em;
        }
    }   
}

.hero-img{
    width: 70%;
    margin-top: 3em;
}

section.features-section{
    background: #20272E;
    color: #fff;
}

ul.features-list{
    margin: 0;
    padding-left: .1em;

    li{
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before{
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url(../images/bullet.svg);
            background-size: contain;
            margin-right: .5em;
        }
    }
}

.features-section img{
    display: none;
}

.testimonials-section{
    background: var(--primary-color);
    color: #fff;

    ul{

        li{
            background: #006bd6;
            text-align: center;
            padding: 2em 1em;
            width: 80%;
            margin: 0 auto 5em auto;

            img{
                height: 5em;
                width: 5em;
                border: 5px solid #006bd6;
                border-radius: 50%;
                margin-top: -4.5em;
            }
        }
    }
}

h2{
    font-size: 2em;
}

label{
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input, textarea{
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid #808080;
    box-sizing: border-box; //for fixing width 100%
}

input[type = 'submit']{
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    padding:  .7em 1.5em;
    width: unset;
    cursor: pointer;
    display: inline-block;
}

iframe{
    width: 100%;
    height: 300px;
}

nav.menu-btn {
    display: block;
}

nav{
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;

    ul.primary-nav{
        margin-top: 5em;

    }

    li{
        a{
            color: #fff;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: center;

            &:hover{
                font-weight: bold;
                font-variant: small-caps;
                color: var(--primary-color);
            }
        }
    }
}

.mobile-menu-exit{
    float: right;
    margin: .5em;
    cursor: pointer;
    
}

@media only screen and (min-width: 768px){
    .mobile-menu .mobile-menu-exit{
        display: none;
    }

    .navbar .container{
        display: grid;
        grid-template-columns: 180px auto;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul{
            display: flex;
        }

        a{
            color: #000;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav{
            margin: 0;
        }
    }
}